doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    block title 
      title jade starter site
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='styles/materialize.min.css')
  body
    include includes/navbar.jade

    include mixins/articles.jade
    
    .container
      
      .row
        div(class="col s12 m7")
          block content
            h1
              a(href='index.html') starter site
            .card
              .card-image
                img(src="images/sample1.jpg")
                span.card-title Card Title
              .card-content
                p I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              .card-action
                a(href="#") This is a link

            .row
              .col-lg-8
                block articles
                - collection = []
                - collection.push({title: 'Polacy gotowi na MŚ. Michał Kwiatkowski obroni tytuł?', author: 'Paweł Gadzała, rowery.org', date: 'Posted on 20.09.2015 11:13', image: 'images/mk.jpg', link: 'http://www.sport.pl/kolarstwo/1,64993,18856949,kolarstwo-polacy-gotowi-na-ms-michal-kwiatkowski-obroni-tytul.html#MT_3zdj', content: 'W niedzielę w amerykańskim Richmond rozpoczynają się mistrzostwa świata w kolarstwie szosowym. Tytułu w wyścigu ze startu wspólnego broni Michał Kwiatkowski, ale szans na dobre występy Polaków jest więcej. Analizuje je Paweł Gadzała z serwisu rowery.org. Richmond, stan Wirginia. Ponownie stan oblężenia. Tym razem nie jak w 1865 r., gdy dowodzone przez generała Granta wojska Unii rozbijały szyki generała Lee i Konfederatów, kończąc powoli wojnę domową. Tym razem dwustutysięczne miasto przeżywa najazd zawodowych kolarzy i miłośników ścigania na szosie. Po raz 82. w historii rozpoczynają się mistrzostwa świata w kolarstwie szosowym.'})
                  mixin articles(collection)
      
      include includes/footer.jade