doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title jade form
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='styles/materialize.min.css')
    script(type='text/javascript', src='sripts/materialize.min.js')
  body
    include ./includes/navbar.jade

    .container
      h1
        a(href='index.html') Form by materialize and jade
      .row
        div(class="col s6")
          h2
            block title
          p.lead
            | by #{''}
            block author
          
          p
            span.glyphicon.glyphicon-time
            block date
          
          block image
          
          p
            block content
          .row 
            i(class="material-icons prefix")
            div(class="input-field col s6")
              input(placeholder="First name" id="first_name" type="text" class="validate")

            i(class="material-icons prefix")
            div(class="input-field col s6")
              input(placeholder="Last name" id="last_name" type="text" class="validate")

          .row 
            div(class="input-field col s12")
              input(placeholder="Password" id="password" type="password" class="validate")

          .row 
            div(class="input-field col s12")
              input(placeholder="Email" id="email" type="email" class="validate")

          .row 
            div(class="input-field col s12")
              select
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
              label Choose your option
          
          .row 
            div(class="input-field col s12")
              p.range-field
              input(type="range" id="test5" min="0" max="100")
          
          .row 
            div(class="input-field col s12")
              input(type="date" class="datepicker")

          .row 
            div(class="input-field col s12")
              textarea(id="textarea1" class="materialize-textarea" length="120")
              label(for="textarea1") Textarea

          button.btn.btn-primary(type='submit') Submit
          
          block comments
      
      include ./includes/footer.jade