//- includes/navbar.jade
.navbar-fixed
    nav
        .nav-wrapper
            a(href="/" class="brand-logo") Logo
                ul(class="right hide-on-med-and-down")
                    li 
                      a(href="/form.html") Form
                    li 
                      a(href="/table.html") Table
                    li 
                      a(href="/collection.html") Collection